.cpcache
.lsp/.cache
.clj-kondo/*
!.clj-kondo/config.edn
.clojuredart
.dart_tool
.packages
pubspec.lock
lib/cljd-out/*
test/cljd-out/*
**/lib/cljd-out/
**/test/cljd-out/
**/pubspec.lock
**/.dart_tool/
*-e
.*
!.github
tmp/

# FVM Version Cache
.fvm/