{:linters {:non-arg-vec-return-type-hint {:level :off}
           :flutter/widget {:level :error}
           :clojure-lsp/unused-public-var {:exclude #{main}}
           :unresolved-namespace {:exclude [dart dart:core]}
           :unresolved-symbol
           {:exclude
            [AbstractClassInstantiationError ArgumentError AssertionError
             BidirectionalIterator BigInt bool Comparable Comparator
             ConcurrentModificationError CyclicInitializationError DateTime
             Deprecated double Duration dynamic Error Exception Expando
             FallThroughError FormatException Function Future IndexError int
             IntegerDivisionByZeroException Invocation Iterable Iterator
             LateInitializationError List Map MapEntry Match NoSuchMethodError
             Null NullThrownError num Object OutOfMemoryError Pattern pragma
             RangeError Record RegExp RegExpMatch RuneIterator Runes Set Sink
             StackOverflowError StackTrace StateError Stopwatch Stream String
             StringBuffer StringSink super Symbol Type TypeError
             UnimplementedError UnsupportedError Uri UriData]}}
 :hooks {:analyze-call {cljd.flutter.alpha/widget hooks.flutter/widget
                        cljd.flutter/build hooks.flutter2/analyze-build
                        cljd.flutter/run hooks.flutter2/widget
                        cljd.flutter/widget hooks.flutter2/widget}}}
