/*/analysis_options.yaml
/*/android/*
/*/cljd.edn
/*/ios/*
/*/lib/*
/*/lib/*
/*/linux/*
/*/macos/*
/*/pubspec.yaml
/*/README.md
!/webview/README.md
/*/test/*
/*/web/*
/*/windows/*
/*/bin/*
/*/CHANGELOG.md
!/ffi/hello_library/
!/ffi/README.md
!/ffi/pubspec.yaml
!/fficjson/third_party/
!/fficjson/README.md
!/fficjson/config.yaml
!/fficjson/example.json
